/*　公理 */
* {
    max-width: 60ch;
    box-sizing: border-box;
}

html,
body,
div,
header,
nav,
main,
footer {
    max-width: none;
}

/* モジュラースケール */
:root {
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

    --border-thin: 0.1rem;
}



/* Stack  */
.stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stack > * {
    margin-top: 0;
    margin-bottom: 0;
} 

.stack > * + * {
    margin-top: var(--space, 1.5rem)
}

/* Box */
.box {
    padding: var(--s1);
    border: var(--border-thin) solid;
    outline: var(--border-thin) transparent;
    outline-offset: calc(var(--border-thin) * -1);
    --color-light: #fff;
    --color-dark: #000;
    color: var(--color-dark);
    background-color: var(--color-light);
}

.box * {
    color: inherit;
}

.box.invert {
    color: var(--color-light);
    background-color: var(--color-dark);
}

/* Cluster */
.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space, 1rem);
    justify-content: center;
    align-items: center;
}

/* Grid */
.grid {
    display: grid;
    grid-gap: 1rem;
    --minimum: 20ch;
}

@supports (width: min(var(--minimum)), 100%) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(min(var(--minimum), 100%), 1fr));
    }
}

/* Frame */
.frame {
    --n: 9;
    --d: 16;
    padding-bottom: calc(var(--n) / var(--d) * 100%);
    position: relative;
}

.frame > * {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame > img,
.frame > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Center */
.center {
    box-sizing: content-box;
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--s1);
    padding-right: var(--s1);
}

/* Cover */
.cover {
    --space: var(--s1);
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    min-height: 100vh;
    padding: var(--space);
}

.cover > * {
    margin-top: var(--space);
    margin-bottom: var(--space);
}

.cover > :first-child:not(h1) {
    margin-top: 0;
}

.cover > :last-child:not(h1) {
    margin-bottom: 0;
}

.cover > h1 {
    margin-top: auto;
    margin-bottom: auto;
}